[submodule "5 семестр/Криптографические методы защиты информации/Задание 1. Простая замена"]
	path = 5 семестр/Криптографические методы защиты информации/Задание 1. Простая замена
	url = https://github.com/DrTECHNIC/EasyReplacement.git
