[submodule "5 семестр/Криптографические методы защиты информации/Задание 1. Простая замена"]
	path = 5 семестр/Криптографические методы защиты информации/Задание 1. Простая замена
	url = https://github.com/DrTECHNIC/EasyReplacement.git
[submodule "3 семестр/Конфигурационное управление/Задание 1"]
	path = 3 семестр/Конфигурационное управление/Задание 1
	url = https://github.com/DrTECHNIC/Shell_Emulator.git
[submodule "3 семестр/Конфигурационное управление/Задание 2"]
	path = 3 семестр/Конфигурационное управление/Задание 2
	url = https://github.com/DrTECHNIC/Command_Line_Tool.git
[submodule "3 семестр/Конфигурационное управление/Задание 3"]
	path = 3 семестр/Конфигурационное управление/Задание 3
	url = https://github.com/DrTECHNIC/Training_Configuration_Language.git
[submodule "3 семестр/Конфигурационное управление/Задание 4"]
	path = 3 семестр/Конфигурационное управление/Задание 4
	url = https://github.com/DrTECHNIC/Assembler.git
[submodule "5 семестр/Тестирование и верификация программного обеспечения/Практическая работа №1"]
	path = 5 семестр/Тестирование и верификация программного обеспечения/Практическая работа №1
	url = https://github.com/DrTECHNIC/TVS-2025-summer-IKBO-50-23-Team5.git
